:root {
  --spacing-unit-half: 0.5rem;
  --spacing-unit: 1rem;
  --spacing-unit-x2: 2rem;
  --spacing-unit-x3: 3rem;
  --spacing-unit-x4: 4rem;
  --spacing-unit-x5: 5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  margin-top: var(--spacing-unit-x3);
  text-align: center;
}

.task-container {
  max-width: 500px;
  margin: auto;
}

.task-container > div {
  flex-basis: 20%;
}

.task-input-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--spacing-unit-half);
}

.task-input-container > input {
  flex-grow: 1;
}

article[class='task'] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: var(--spacing-unit) 0;
}

.add-task-btn {
  width: var(--spacing-unit-x5);
}

.task-info {
  display: inline-block;
  font-size: calc(var(--spacing-unit-x2) * 0.8);
  margin-left: var(--spacing-unit-half);
}

.delete-task-btn {
  width: var(--spacing-unit-x5);
  flex-shrink: 0;
}
